<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned violet header">To Do App</h1>
        <form class="ui form" action="/add" method="post">
            <div class="field">
                <div>
                    <label class="ui violet medium header">Todo Title</label>
                </div>
                <input type="text" name="title" placeholder="Enter Todo..."><br>
            </div>
            <button class="big ui standard button" type="submit">Add</button>
        </form>

        <hr>
                               
        {% for todo in todo_list %}
        <div class="ui segment">
        
            <div>
                <h1 id="task" name = "task" class="ui big header" contenteditable="true">{{todo.id }} | {{ todo.title }}</h1>         
            </div>

            {% if todo.complete == False %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui blue label">Completed</span>
            {% endif %}
            
            <a class="ui inverted purple button" href="/update/{{ todo.id }}">Update</a>
            <a class="ui inverted violet button" href="/delete/{{ todo.id }}">Delete</a>

            
        </div>
        {% endfor %}
    </div>
</body>

</html>
